In [4]:
numbers = (45,56,78,29,56,78,90,28,120,200)
print(numbers)

(45, 56, 78, 29, 56, 78, 90, 28, 120, 200)

numbers = (45,56,78,29,56,78,90,28,120,200)
print(*numbers)

In [5]:
numbers = (45,56,78,29,56,78,90,28,120,200)
print(numbers)

(45, 56, 78, 29, 56, 78, 90, 28, 120, 200)

In [6]:
print(*numbers)

45 56 78 29 56 78 90 28 120 200

In [8]:
for element in numbers:
    print(element)

45
56
78
29
56
78
90
28
120
200

In [9]:
for element in numbers:
    print(element, end=" ")

45 56 78 29 56 78 90 28 120 200

In [11]:
print("the tuple is :/n",numbers)
print("fifth element :" ,numbers[4])

the tuple is :/n (45, 56, 78, 29, 56, 78, 90, 28, 120, 200)
fifth element : 56

In [12]:
#----4th element from last
print("The tuple is :",numbers)
print("fourth element from last :",numbers[-4])

The tuple is : (45, 56, 78, 29, 56, 78, 90, 28, 120, 200)
fourth element from last : 90

In [14]:
#display element of tuple in forward direction using the backward index
print(" The tuple is :",numbers)
for x in range(-len(numbers),0,+1):
    print(numbers[x], end=" ")

 The tuple is : (45, 56, 78, 29, 56, 78, 90, 28, 120, 200)
45 56 78 29 56 78 90 28 120 200

In [16]:
#Display element of tuple in backward direction using forward index
print(" The tuple is :",numbers)
for x in range(len(numbers)-1,-1,-1):
    print(numbers[x], end=" ")

 The tuple is : (45, 56, 78, 29, 56, 78, 90, 28, 120, 200)
200 120 28 90 78 56 29 78 56 45

In [22]:
#Display the sum of all the numbers of tuple
print(" The tuple is :",numbers)
print("sum of the tuple : ",sum(numbers))

 The tuple is : (45, 56, 78, 29, 56, 78, 90, 28, 120, 200)
sum of the tuple :  780

In [25]:
print("the tuple is : ",numbers)
sum = 0
for idx in range(0,len(numbers)):
    sum += numbers[idx]

print("sum : ",sum)

the tuple is :  (45, 56, 78, 29, 56, 78, 90, 28, 120, 200)
sum :  780

In [28]:
first = ([2])
first[0] = 67
print(first)

[67]